<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <a href="http://www.extremejackets.com/">Extreme Jackets Designer</a>
  is a project to make a letterman jacket like no other
  with <a href="http:www.extremejackets.com">Extreme Jackets</a>. This
  is the application for them.
</p>
