<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get help on the Extreme Jackets designer at the
  <a href="http://www.extremejackets.com">Extreme Jacket help page</a>.
  To get help on this app, see the
<a href="http://www.extremejackets.com">Extreme Jacket instructions</a>.
</p>
