<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get help with Extreme Jackets at 
  <a href="http://www.extremejackets.com/help">Extreme Jackets help page</a>.
  To get help on this sample app, see the
  <a href="http://www.extremejackets.com/book">Extreme Jackets book</a>.
</p>